{% extends 'main.html'%}

{% block content %}

<h2> Blog poetico</h2>
<a> [ahora es personal]</a>

<div class="container">

  {% for post in posts%}
  <div class="row row-cols-auto">
  <div class="col">
    <div class="card" style="width: 20rem;">
      <img src="{{post.image_frontpage.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.subtitle}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>
{% endblock content %}
